{% extends "layout.html" %}

{% block title %}
    Favorites
{% endblock %}

{% block class %}favorite{% endblock %}

{% block main %}
<script src="/static/sorttable.js"></script>

<div class="jumbotron">
<h1 class="display-4">Favorites</h1>

{% if info_recipes %}
<p class="lead">Recipes you have saved</p>
  <table class="table sortable" style="color:white">
    <thead>
      <tr>

        <th class="sorttable_nosort"></th>
        <th>Recipe</th>
        <th>Time and date</th>
        <th class="sorttable_nosort"></th>

      </tr>
    </thead>

    <tbody>

      {% for recipe in info_recipes %}
      <tr>
        <td style="width:200px;padding-left:0; padding-right:0"><a href="/recipe?id={{ recipe.id }}"><img src={{recipe.image}} alt="{{ recipe.title }}" class="img-thumbnail"></a></td>
        <td><a href="/recipe?id={{recipe["id"]}}">{{ recipe["title"] }}</a></td>
        <td>{{ timestamp[recipe["id"]] }}</td>
        <td>
          <form action="/favorites" method="post">
            <button class="btn btn-danger" type="submit" name="delete" value="{{ recipe["id"] }}" style="float:right"><i class="fas fa-minus-circle"></i></button>
          </form>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

  {% else %}
  <p class="lead">You don't have any favorites saved. Get started by searching recipes!</p>
  <a class="btn btn-primary" href="/search" role="button"><i class="fas fa-chevron-right"></i> Search</a>

{% endif %}
{% endblock %}