{% extends "layout.html" %}

{% block title %}
    Favorites
{% endblock %}
{% block class %}favorite{% endblock %}
{% block main %}
    <div class="jumbotron">
        <h1>
            <strong>Favorites</strong>
        </h1>
    <table class="table table-striped" style="widt:100%">
      <tr>
        <th style="color:seagreen">Recipe</th>
      </tr>
      {% for recipes in lookup_recipe %}
      <tr>
        <td><a href="/recipe?id={{recipes["id"]}}" style="text-decoration:None; color:white"><img style="width: 120px" src={{ recipes["image"] }} class="img-thumbnail">  {{ recipes["title"] }}</td>
      </tr>
      {% endfor %}
    </table>

{% endblock %}