{% extends "layout.html" %}

{% block title %}
    Favorites
{% endblock %}
{% block class %}favorite{% endblock %}
{% block main %}
    <div class="jumbotron">
        <h1>
            <strong>Favorites</strong>
        </h1>
    <table class="table table-striped" style="widt:100%">
      <tr>
        <th style="color:seagreen">Recipe</th>
      </tr>
      {% for name, image in titleimg.items() %}
      <tr>
        <td><img style="width: 120px" src={{ image }} class="img-thumbnail">  {{ name }}</td>
      </tr>
      {% endfor %}
    </table>

{% endblock %}