{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}
{% block class %}profile{% endblock %}
{% block main %}
    <div class="jumbotron">
        <h1 class="display-4">
           Profile
        </h1>
        <h3>Username: {{username}}<br></h3>
        <div>
            <hr>
            <h3>Exclude from search:</h3>
            <p>Check the box to exclude this ingredient from your search</p>
            <form action="/profile" method="post">
                <input type="checkbox" name="gluten_free" value="gluten_free" {{box_gluten_free}}> Gluten Free<br>
                <input type="checkbox" name="vegetarian" value="vegetarian" {{box_vegetarian}}> Vegetarian<br>
                <input type="checkbox" name="vegan" value="vegan" {{box_vegan}}> Vegan<br><br>
                <input class="btn btn-warning" type="submit" value="Submit exclusions">
            </form>
            <hr>
        </div><br>
        <form action="/password">
            <button class="btn btn-primary" type="submit">Change password</button><br><br>
        </form>
        <form action="/profile" method="post">
            <button class="btn btn-danger" type="submit" name="log_out">Logout</button>
        </form>
    </div>
{% endblock %}