{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<center>
    <h1 class="display-4">Create account</h1>
    <form action="/register" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" style= width:50%>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Password" type="password" style= width:50%>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="confirmation" placeholder="Confirmation" type="password" style= width:50%>
    </div>
    <div class="form-group">
		<button class="btn btn-primary" type="submit">Register</button>
	</div>
    </form>
</center>

{% endblock %}
