{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<div class="jumbotron">
    <h1 class="display-4">Search recipes.</h1>
    <p class="lead">Tell us what's in your fridge to get the best recommendations.</p>
    <form class="form">
    <div class="form-group">

        <textarea id="Itemlist" rows="3" readonly class="form-control" placeholder="Get started by adding some items below..."></textarea><br>
        </div>
        <div class="form-inline form-group">
            <input type="text" class="form-control" id="ingredient_input" placeholder="Start typing to get suggestions..." style="width:88%">
            <button class="btn btn-primary" onsubmit="" id="add" style="margin-left:2%">Add item</button><br>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit" id="search">Search</button>
            <button class="btn btn-primary" type="clear" id="clear">Clear items</button>
        </div>
</form>
    <ul id="list">


    </ul></div>

    <script>
        var itemInput = document.getElementById("item");
        var clear = document.getElementById("clear");
        var add = document.getElementById("submit");
        var list = document.getElementById("list");

   function addItem() {
        var currentItem = itemInput.value;
        var listItem = document.createElement("li");
        listItem.innerHTML = currentItem;

        list.appendChild(listItem);

        itemInput.value = "";

   }

   add.onclick = addItem;

   clear.onclick = function() {
        list.innerHTML = "";
        itemInput.value = "";

   };
    </script>

{% endblock %}